@using Payroll.Helpers
@model Payroll.Models.RateForView

@{
    ViewBag.Title = "Create New Rate";
    Layout = ViewHelper.DefaultLayout;
    ViewBag.IsRateMenuActive = "active";
}

<a href='@Url.Action("Index", "Rate")'
   class="btn btn-primary" role="button">
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back to List
</a>

@using (Html.BeginForm("Create", "Rate", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="input-group">
        @Html.LabelFor(model => model.Rate.RATE_NAME, "Name", new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Rate.RATE_NAME, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Rate.RATE_NAME)
    </div>
    <div class="input-group">
        @Html.LabelFor(model => model.Rate.RATE_VALUE, "Value", new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Rate.RATE_VALUE, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Rate.RATE_VALUE)
    </div>
    <div class="input-group">
        @Html.LabelFor(model => model.Rate.RATE_TYPE, "Value", new { @class = "control-label" })
        @Html.DropDownListFor(model => model.Rate.RATE_TYPE, Model.RateTypeDescList, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Rate.RATE_TYPE)
    </div>
    <div class="input-group" style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Save
        </button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
