@using Payroll.Helpers
@model Payroll.Models.UserForView

@{
    ViewBag.Title = "Edit User";
    Layout = ViewHelper.DefaultLayout;
    ViewBag.IsUserMenuActive = "active";
}

<a href='@Url.Action("Index", "User")'
   class="btn btn-primary" role="button">
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back to List
</a>

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="input-group">
        @Html.LabelFor(model => model.User.Username, "Username", new { @class = "control-label" })
        @Html.TextBoxFor(model => model.User.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.User.Username)
    </div>
    <div id="change-link" class="input-group">
        <a href='@Url.Action("ChangePasswordView", "User")' data-partial data-target="#change-form" data-json-params='{"username":"@Model.User.Username"}'>Change Password</a>
    </div>
    <div id="change-form">
        
    </div>
    <div class="input-group">
        @Html.LabelFor(model => model.User.Category, "Category", new { @class = "control-label" })
        @Html.DropDownListFor(model => model.User.Category, Model.UserCategoryDescList, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.User.Category)
    </div>
    <div class="input-group">
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Save
        </button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}