@model Payroll.Models.T_DAYOFF

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>T_DAYOFF</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DAYOFF_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DAYOFF_ID)
            @Html.ValidationMessageFor(model => model.DAYOFF_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.USERNAME, "M_USER")
        </div>
        <div class="editor-field">
            @Html.DropDownList("USERNAME", String.Empty)
            @Html.ValidationMessageFor(model => model.USERNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DAYOFF_DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DAYOFF_DATE)
            @Html.ValidationMessageFor(model => model.DAYOFF_DATE)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
