@model Payroll.Models.UserForView

<div class="input-group">
    @Html.LabelFor(model => model.OldPassword, "Old Password", new { @class = "control-label" })
    @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.OldPassword)
</div>
<div class="input-group">
    @Html.LabelFor(model => model.ConfirmOldPassword, "Confirm Password", new { @class = "control-label" })
    @Html.PasswordFor(model => model.ConfirmOldPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ConfirmOldPassword)
</div>
<div class="input-group">
    @Html.LabelFor(model => model.NewPassword, "New Password", new { @class = "control-label" })
    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.NewPassword)
</div>
<div class="input-group">
        <button type="button" class="btn btn-primary" style="margin-top: 10px;"
            data-multisubmit
            data-action='@Url.Action("ChangePassword", "User")'
            data-method="POST">
        Change
    </button>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        MultiSubmit();
    });
</script>