@model Payroll.Models.M_EMP_SALARY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>M_EMP_SALARY</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SALARY_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SALARY_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.M_USER.USERPASS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.M_USER.USERPASS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BASIC_SALARY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BASIC_SALARY)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
