@using Payroll.Helpers
@model Payroll.Models.SalaryForView

@{
    ViewBag.Title = "Edit Salary";
    Layout = ViewHelper.DefaultLayout;
    ViewBag.IsSalaryMenuActive = "active";
}

<a href='@Url.Action("Index", "Salary")'
   class="btn btn-primary" role="button">
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back to List
</a>

@using (Html.BeginForm("Edit", "Salary", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="input-group">
        @Html.LabelFor(model => model.Salary.SalaryId, "Salary Id", new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Salary.SalaryId, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="input-group">
        @Html.LabelFor(model => model.Salary.Username, "User", new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Salary.Username, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="input-group">
        @Html.LabelFor(model => model.Salary.BasicSalary, "Basic Salary", new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Salary.BasicSalary, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Salary.BasicSalary)
    </div>
    <div class="input-group" style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Save
        </button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}