@model Payroll.Models.d_AdditionalSalary

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>d_AdditionalSalary</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdditionalSalaryId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdditionalSalaryId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RateId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RateId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.m_Rate.RateName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.m_Rate.RateName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.m_User.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.m_User.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.m_User.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.m_User.Username)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
