@model IEnumerable<Payroll.Models.d_AdditionalSalary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalSalaryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RateId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m_Rate.RateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m_User.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m_User.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalSalaryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RateId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m_Rate.RateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m_User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m_User.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
